.SideBar {
	width: 60px;
	border-right: solid 1px;
	display: flex;
	flex-direction: column;

	.SideBarMain, .SideBarBottom {
		width: 100%;
		padding: 10px 10px;
		display: flex;
		flex-direction: column;
		height: calc(100% - 70px);
		transition: all .2s ease;
		box-sizing: border-box;
	}
	.SideBarBottom {
		margin-bottom: 0;
	}
}
