.SideBarItem {
	width: 100%;
	margin: 5px auto;
	padding: 5px 0;
	box-sizing: border-box;
	position: relative;
	cursor: pointer;;
	display: flex;
	border-radius: 3px;
	transition: all .2s ease;
	& * {
		margin: auto;
	}
	&:hover {
		.HoverInfo {
		transition: all .2s ease;
			display: block;
		}
	}
	.HoverInfo {
		display: none;
		border-radius: 3px;
		position: absolute;
		left: calc(100% + 17px);
		// background-color: black;
		width: max-content;
		padding: 5px 10px;
		& div {
			content: '';
			position: absolute;
			bottom: 7px;
			left: -14px;
			border: 7px transparent solid;
			// border-right-color: black;
		}
	}
}
